**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/.old
**/bin
**/docker-compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
processed_entries.txt
rss2newsletter.egg-info
LICENSE
README.md